<style>
    
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
    }

    .header .logo img {
      width: 100px;
      margin-right: 10px;
    }

    .header .logo-container {
      display: flex;
      align-items: center;
    }

    .header .nav-links {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    .header .nav-links li {
      margin-right: 20px;
    }

    .header .nav-links li a {
      color: white;
      text-decoration: none;
    }

    .header .nav-links li a.btn {
      border-radius: 12px;
      padding: 8px 16px;
    }
</style>

<div class="header">
    <div class="logo-container">
      <div class="logo"><img src="assets/2.png" alt="Logo"></div>
    </div>
    <ul class="nav-links">
      <li><a routerLink="home" class="btn btn-dark">Home</a></li>
      <li><button  class="btn btn-dark" routerLink="">Logout</button></li>
    </ul>
  </div>