<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
</head>
<body>
    <!-- <div class="header">
        <div class="logo-container">
            <h5><i>Hi Welcome Back....</i></h5>
        </div>
    </div> -->

    <br>
    <br>


<div class="button-container">
  <div class="button-row">
    <button class="button create" routerLink="/create">
      <i class="fas fa-plus"></i>
      Create
    </button>
    <button class="button read"routerLink="/view">
      <i class="fas fa-book"></i>
      Read
    </button>
  </div>
  <div class="button-row">
    <button class="button update">
      <i class="fas fa-pencil-alt"></i>
      Update
    </button>
    <button class="button delete">
      <i class="fas fa-trash-alt"></i>
      Delete
    </button>
  </div>
</div>
</body>
</html>
<app-footer></app-footer>